@font-face {
  font-family: "RetroGaming";
  src: url("/src/font/RetroGaming.ttf");
}

@font-face {
  font-family: "DS_DIGIB";
  src: url("/src/font/DS-DIGIB.TTF");
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  font-family: "RetroGaming";
  background-color: black;
}